

.container {
    border: 1px solid black;
    margin: auto;
}

header {
    font-family: 'Shrikhand', cursive;
    margin: auto;
    text-align: center;
    color: red;
}

h3 {
    border: 1px solid red;
}